# compiled object files
*.exe
*.o
*.out

# vs code specific files
.vscode/

# Ignore specific folders
Data/
Uploads/
hithash/
Enter/

# Ignore specific files
installer_config.xml
my.ini
zeusDB.session.sql

# system files
Thumbs.db